<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.enbuenasmanos">
    <!-- permiso: internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyDate"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SinTema"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".presentacion.TipousuarioActivity"
            android:exported="false" />
        <activity
            android:name=".presentacion.ProfesionalActivity"
            android:exported="false"
            android:theme="@style/Theme.EnBuenasManos" />
        <activity
            android:name=".presentacion.DetailQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".presentacion.ForumActivity"
            android:exported="false" />
        <activity
            android:name=".presentacion.AddQuestionsActivity"
            android:exported="false" />
        <activity
            android:name=".presentacion.InicioActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentacion.PrincipalActivity"
            android:exported="false"
            android:theme="@style/Theme.EnBuenasManos" />
        <activity
            android:name=".presentacion.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".presentacion.RegistroUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".presentacion.PostDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.Consejo" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>